.content{
    width: 100%;
    height: 1854px;
    background-color:white;

   
}
.content-pro-main{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
}
.content-pro-text-main{
    width: 1200px;
    height: 145px;
    /*background-color: red;*/
    margin: 0 auto;

}
.content-pro-aside{
    float: left;
    /*display: inline-block;*/
    width: 200px;
    height: 40px;
    margin-top: 100px;

}

.content-pro-other-aside{
    float: right;
    /*display: inline-block;*/
    width: 50px;
    height: 50px;

    margin-top:100px;
}
.content-pro-aside>h2{
    font-size: 25px;
    color: #004c2e;
}
.content-pro-other-aside>li{
    margin-bottom: 15px;
}
/*新闻列表*/
.content-news{
    width: 1200px;
    height: 1444px;
    /*background-color: indianred;*/
    margin: 0 auto;
}
.content-news-list-one{
    height: 354px;
    width: 1200px;
    margin-top: 100px;
    /*background-color: blueviolet;*/
}
.content-news ul li{
    width: 600px;
    height: 354px;
    float: left;
}
.content-news ul li h2{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.content-news ul li p{
    width: 500px;
    height: 200px;
    margin-left: 50px;
    margin-top: 30px;
    line-height: 25px;
}
.content-news ul li a{
    /*margin-top: 500px;*/
    display: inline-block;
    /*margin-right: 5px;*/
    margin-left: 500px;
    color: black;
    text-decoration: underline #333333;
}
.content-more{
    width: 1200px;
    height: 210px;
    /*background-color: tomato;*/
    margin: 0 auto;
    box-sizing: border-box;
}
.content-more>ul>li{
    width: 160px;
    height: 35px;
    border: 1px solid #33735d;
    color: #33735d;
    text-align: center;
    line-height: 35px;
    margin: 65px auto;
    box-sizing: border-box;

}
.content-more>ul>li>a{
    color: #33735d;
}