.content{
    width: 100%;
    height: 1514px;
    background-color:white;
}
.content-pro-main{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
}
.content-pro-text-main{
    width: 1200px;
    height: 145px;
    /*background-color: red;*/
    margin: 0 auto;

}
.content-pro-aside{
    float: left;
    /*display: inline-block;*/
    width: 200px;
    height: 40px;
    margin-top: 100px;

}

.content-pro-other-aside{
    float: right;
    /*display: inline-block;*/
    width: 50px;
    height: 50px;

    margin-top:100px;
}
.content-pro-aside>h2{
    font-size: 25px;
    color: #004c2e;
}
.content-pro-other-aside>li{
    margin-bottom: 15px;
}
/*视频区域*/
.content-foodVideo-list{
    width: 100%;
    height: 1214px;
    /*background-color: indianred;*/
}
.content-foodVideo-list-info{
    width: 1200px;
    height:1214px;
    /*background-color: rebeccapurple;*/
    margin: 0 auto;
}
.content-foodVideo-list-info>ul{
    width: 1200px;
    height:1214px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 100px;

}
.content-foodVideo-list-info>ul>li{
    height: 294px;
    width: 578px;
    border: 1px solid black;
    box-sizing: border-box;
}
.content-foodVideo-list-info>ul>li:nth-child(1){
    background: url("../../images/food/video-1.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(1)>span{
    width: 101px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 0;
    margin-left: 10px;

}
.content-foodVideo-list-info>ul>li:nth-child(2){
    background: url("../../images/food/video-2.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(2)>span{
    width: 105px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 -120px;
    margin-left: 10px;

}
.content-foodVideo-list-info>ul>li:nth-child(3){
    background: url("../../images/food/video-3.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(3)>span {
    width: 105px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 -239px;
    margin-left: 10px;
}

.content-foodVideo-list-info>ul>li:nth-child(4){
    background: url("../../images/food/video-4.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(4)>span {
    width: 105px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 -358px;
    margin-left: 10px;
}

.content-foodVideo-list-info>ul>li:nth-child(5){
    background: url("../../images/food/video-5.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(5)>span {
    width: 105px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 -508px;
    margin-left: 10px;

}
.content-foodVideo-list-info>ul>li:nth-child(6){
    background: url("../../images/food/video-6.jpg");
}
.content-foodVideo-list-info>ul>li:nth-child(6)>span {
    width: 105px;
    height: 108px;
    display: inline-block;
    background: url("../../images/food/video-tip.png") no-repeat 0 -664px;
    margin-left: 10px;

}
.content-foodVideo-list-info ul li h2{
    font-size: 35px;
    text-align: center;
}
.content-foodVideo-list-info ul li p{
    margin-top: 100px;
}
.content-foodVideo-list-info ul li a{
    color: #000;
    margin-left: 470px;
    text-decoration: underline black;
}